@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 1% 5%;
}

header {
   padding: 10px;
   font-size: 1.2em;
   font-weight: 600;
}

img {
    width: 100%;
    margin-top: 35px;
    padding: 30px;
}

.title {
    font-size: 4.4em;
    font-weight: 700;
    color: #333;
}

.text {
    font-size: 23px;
    color: #4F4F4F;
    margin-top: 20px;
}
